.create {
    background-color: #121212;
    color: #e0e0e0;
    padding: 2rem;
    max-width: 800px;
    
    font-family: 'Courier New', Courier, monospace;
  }
  .create form{
    padding: 20px 25px;
    margin: 1rem 20px;
    background-color: rgb(198, 188, 174);
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
  }
  
  .create h2,
  .create h3 {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
  }
  
  .create input[type="text"],
  .create input[type="number"],
  .create textarea,
  .create input[type="file"] {
    background-color: #1f1f1f;
    color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    transition: border 0.3s;
    box-sizing: border-box;
    resize: none;
  }
  
  .create input[type="text"]:focus,
  .create input[type="number"]:focus,
  .create textarea:focus {
    border-color: #ff0000;
    outline: none;
  }
  
  .create label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: bold;
    color: #ff0000;
  }
  
  .create button {
    background-color: #ff0000;
    color: #fefefe;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .create button:hover {
    background-color: #a70000;
  }
  
  .create p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .create textarea {
    resize: vertical;
    min-height: 80px;
  }
  