.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background-color: #111;
    box-shadow: 0 0 5px 2px #000;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fefefe;
    font-size: 1.2em;
    text-align: center;
    line-height: 1em;
}
.logo span{
    font-weight: bold;
    font-size: 1.2em;
    color: #c81212;
}

.link_list{
    display: flex;
    list-style: none;
}
.link_list li {
    margin-right: 1em;
}
.link_list li a{
    padding: .4em .6em;
    transition: all .3s ease;
    text-decoration: none;
    color: #fefefe;
}

.active{
    background-color: #c81212;
    color: #fefefe;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }   
    .link_list{
        align-items: center;
        justify-content: space-around;
        margin: 1.5em;
        margin-bottom: 0;
        padding: 0;
    }
}