.error {
    font-size: .8em;
    color: red;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

.primary{
    padding: 10px 30px;
    margin: 10px;
    background-color: red;
    color: #fefefe;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.secondary{
    padding: 10px 30px;
    margin: 10px;
    background-color: #232323;
    color: #fefefe;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.dice_modal{
    background-color: #fefefe;
    width: 80%;
    max-width: 450px;
    border-radius: 20px;
    padding: 20px;
    color: #000;
}

.dice_modal div h1{
    color: #000;
}
.container_modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.notes_modal{
    background-color: #fefefe;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}
.text_area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #000;
    width: 100%;
}
.text_area textarea{
    resize: none;
    font-size: 16px;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
}
.log_item{
    background-color: #e9e8e2;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-left: 1px solid #555;
    & p {
        margin: 0;
    }
}
.details{
    color: #555;
    font-weight: lighter;
}

.inventory_modal{
    background-color: #fefefe;
    padding: 20px;
    margin: auto;
    width: 80%;
    max-width: 500px;
    & form {
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        & input[type='number']{
            width: 35px;
            margin-left: 10px;
        }
        & button{
            flex-grow: 1;
        }
        & input{
            padding: 5px 10px;
            font-size: 1em;
            border: 1px solid #000;
            border-radius: 10px;
        }
    }
    & ul{
        list-style: none;
    }
}

.itemInventary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #333;
    transform: translateX(-20px);
}